<%- include('../partials/header') %>

<h1>Create New Ticket</h1>
<form  action="/tickets/<%= flight._id %>" method="POST">
    <label for="seat">Seat:</label>
    <input type="text" name="seat" pattern="[A-F][1-9]\d?" required>
    <label for="price">Price:</label>
    <input type="number" name="price" min="0" required>
    <button type="submit">Create Ticket</button>
</form>

<%- include('../partials/footer') %>